*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav *{
    padding-right: 20px;
}
header .navbar-brand span{
    font-size: 36px;
    color: white;
}
header .navbar-brand i {
    color: green;
    font-size: 48px;
}
